<nz-layout class="main-container">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['Ferrari']">Ferrari</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['Maserati']">Maserati</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['Lamborghini']">Lamborghini</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <!-- <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb> -->
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Garden ©2022 for Pirelli</nz-footer>
</nz-layout>